In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer
import re
import requests

import twitter_credentials

In [3]:
response = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
if response.status_code == 200:
    print('Success!')
elif response.status_code == 404:
    print('Not Found.')

Success!

In [4]:
images = pd.read_csv('image_predictions.tsv', sep = '\t', encoding = 'utf-8')

In [5]:
images.duplicated().any()

False

In [6]:
df_1 = pd.read_csv('twitter_archive_enhanced.csv')

In [7]:
df_1['cute_name'] = df_1['doggo'].str.cat(df_1['pupper']
                                         .replace('None','')).str.cat(df_1['floofer']
                                                                      .replace('None','')).str.cat(df_1['pupper']
                                                                                                   .replace('None','')).str.cat(df_1['puppo']
                                                                                                                                .replace('None',''))

In [8]:
df_1['cute_name'] = df_1.cute_name.replace('Nonefloofer','floofer')
df_1['cute_name'] = df_1.cute_name.replace('Nonepupper','pupper')
df_1['cute_name'] = df_1.cute_name.replace('Nonepuppo','puppo')
df_1['cute_name'] = df_1.cute_name.replace('None','Other')

In [9]:
df_1.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id',
                   'retweeted_status_user_id','retweeted_status_timestamp',
                   'doggo', 'floofer','pupper', 'puppo'], inplace=True)

In [10]:
with pd.option_context('float_format', '{:.02f}'.format):  
    print(df_1.tweet_id)

0      892421000000000000.00
1      892177000000000000.00
2      891815000000000000.00
3      891690000000000000.00
4      891328000000000000.00
5      891088000000000000.00
6      890972000000000000.00
7      890729000000000000.00
8      890609000000000000.00
9      890240000000000000.00
10     890007000000000000.00
11     889881000000000000.00
12     889665000000000000.00
13     889639000000000000.00
14     889531000000000000.00
15     889279000000000000.00
16     888917000000000000.00
17     888805000000000000.00
18     888555000000000000.00
19     888203000000000000.00
20     888078000000000000.00
21     887705000000000000.00
22     887517000000000000.00
23     887474000000000000.00
24     887343000000000000.00
25     887101000000000000.00
26     886983000000000000.00
27     886737000000000000.00
28     886680000000000000.00
29     886366000000000000.00
                ...
2326   666412000000000000.00
2327   666407000000000000.00
2328   666396000000000000.00
2329   666374000000000000.00
2330   666363000000000000.00
2331   666353000000000000.00
2332   666345000000000000.00
2333   666338000000000000.00
2334   666294000000000000.00
2335   666287000000000000.00
2336   666273000000000000.00
2337   666269000000000000.00
2338   666104000000000000.00
2339   666102000000000000.00
2340   666100000000000000.00
2341   666094000000000000.00
2342   666083000000000000.00
2343   666073000000000000.00
2344   666071000000000000.00
2345   666064000000000000.00
2346   666059000000000000.00
2347   666057000000000000.00
2348   666056000000000000.00
2349   666052000000000000.00
2350   666051000000000000.00
2351   666049000000000000.00
2352   666044000000000000.00
2353   666033000000000000.00
2354   666029000000000000.00
2355   666021000000000000.00
Name: tweet_id, Length: 2356, dtype: float64

In [ ]:
#Pull status number from a different source

In [11]:
df_1.expanded_urls= df_1.expanded_urls.fillna(value='https://www.twitter.com')

In [12]:
urls = df_1.expanded_urls

In [13]:
len(df_1.expanded_urls)

2356

In [14]:
urls = list(urls)

In [15]:
status= []
for i in range(len(urls)): 
    t= urls[i]
    if bool(re.search(r'\d', t)) == True:
        twt = re.findall(r'\d+', t)[0]
        status.append(twt)
    else:
        status.append('NaN')

In [16]:
len(status)

2356

In [17]:
df_1['tweet_status'] = status

In [18]:
df_1.tweet_id[0] == df_1.tweet_status[0]

False

In [19]:
df_1['tweet_id'] = status

In [20]:
df_1.tweet_id.isnull().any()

False

In [21]:
tweet_ids = status
len(tweet_ids)

2356

In [22]:
#auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#auth.set_access_token(access_token, access_secret)

#api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
#count = 0
#fails_dict = {}
#start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
#with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#    for tweet_id in tweet_ids:
#        count += 1
#        print(str(count) + ": " + str(tweet_id))
#        try:
#            tweet = api.get_status(tweet_id, tweet_mode='extended')
#            print("Success")
#            json.dump(tweet._json, outfile)
#            outfile.write('\n')
#        except tweepy.TweepError as e:
#            print("Fail")
#            fails_dict[tweet_id] = e
            
#            pass
#end = timer()
#print(end - start)
#print(fails_dict)

In [23]:
#df_2 = pd.DataFrame(columns=['tweet_id','retweet count','favorite_count'])

#with open('tweet_json.txt') as i:
#    for line in i:
#        stat = json.loads(line)
#        tweet_id = stat['id_str']
#        retweet_count = stat['retweet_count']
#        favorite_count = stat['favorite_count']
#        df_2 = df_2.append(pd.DataFrame([[tweet_id,retweet_count,
#                                         favorite_count]], 
#                                       columns=['tweet_id',
#                                        'retweet_count', 'favorite_count']))
#df_2 = df_2.reset_index(drop=True)
#df_2.head()

In [24]:
df_2 = pd.read_csv('WeRateDogs.csv', sep='\t',encoding='utf-8')

In [25]:
#df_2.to_csv (r'C:\Users\tssan\Desktop\Udacity Projects\4wrangle\WeRateDogs.csv',
#                          index = None, header=True, sep='\t', encoding='utf-8')

In [26]:
df_1['tweet_id'] = df_1.tweet_id.replace('NaN', 0)

In [27]:
df_1 = df_1.astype({'tweet_id':'int64'})

In [28]:
df_2.drop(columns='retweet count', inplace= True)

In [29]:
df_2.duplicated().any()

True

In [30]:
df_1.tweet_id.duplicated().any()

True

In [31]:
df_1[df_1.tweet_id.duplicated()]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,cute_name,tweet_status
23,887473957103951883,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,Other,887473957103951883
55,0,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,https://www.twitter.com,17,10,None,Other,NaN
64,0,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,https://www.twitter.com,14,10,None,Other,NaN
75,3,2017-06-23 16:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Shadow. In an attempt to reach maximum zo...,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,Other,3
76,878057613040115712,2017-06-23 01:10:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Emmy. She was adopted today. Massive r...,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,Other,878057613040115712
98,873213775632977920,2017-06-09 16:22:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sierra. She's one precious pupper. Abs...,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,Nonepupperpupper,873213775632977920
113,0,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,https://www.twitter.com,10,10,None,Other,NaN
123,868880397819494401,2017-05-28 17:23:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Walter. He won't start hydrotherapy wi...,https://twitter.com/dog_rates/status/868880397...,14,10,Walter,Other,868880397819494401
124,3,2017-05-28 01:26:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Say hello to Cooper. His expres...,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,Other,3
126,3,2017-05-27 19:39:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Cooper. His expression is the sam...,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,Other,3
135,866450705531457537,2017-05-22 00:28:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jamesy. He gives a kiss to every other...,https://twitter.com/dog_rates/status/866450705...,13,10,Jamesy,Nonepupperpupper,866450705531457537
136,866334964761202691,2017-05-21 16:48:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Coco. At first I thought she was a clo...,https://twitter.com/dog_rates/status/866334964...,12,10,Coco,Other,866334964761202691
148,0,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,https://www.twitter.com,12,10,None,Other,NaN
150,863062471531167744,2017-05-12 16:05:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Quinn. She's quite the goofball. ...,"https://www.gofundme.com/helpquinny,https://tw...",13,10,Quinn,Other,863062471531167744
161,860563773140209665,2017-05-05 18:36:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lorenzo. He's an avid nifty hat wearer an...,https://www.gofundme.com/help-lorenzo-beat-can...,13,10,Lorenzo,Other,860563773140209665
169,859196978902773760,2017-05-02 00:04:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. This is quite clearly a smo...,https://twitter.com/dog_rates/status/859196978...,12,10,quite,Other,859196978902773760
179,0,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,https://www.twitter.com,12,10,None,Other,NaN
185,0,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,https://www.twitter.com,14,10,None,Other,NaN
186,0,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,https://www.twitter.com,14,10,None,Other,NaN
188,0,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,https://www.twitter.com,420,10,None,Other,NaN
189,0,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,https://www.twitter.com,666,10,None,Other,NaN
218,0,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,https://www.twitter.com,13,10,None,Other,NaN
228,0,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,https://www.twitter.com,11,10,None,Other,NaN
234,0,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,https://www.twitter.com,13,10,None,Other,NaN
253,844704788403113984,2017-03-23 00:18:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Luna. It's her first time outside and ...,https://twitter.com/dog_rates/status/844704788...,13,10,Luna,Other,844704788403113984
264,842163532590374912,2017-03-16 00:00:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet George. He looks slightly deflated but ov...,https://twitter.com/dog_rates/status/842163532...,12,10,George,Other,842163532590374912
271,841077006473256960,2017-03-13 00:02:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Dawn. She's just checking pup on you. ...,https://twitter.com/dog_rates/status/841077006...,12,10,Dawn,Other,841077006473256960
272,3,2017-03-12 03:07:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Say hello to Maddie and Gunner....,"https://www.gofundme.com/3hgsuu0,https://twitt...",12,10,Maddie,Other,3
274,0,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,https://www.twitter.com,10,10,None,Other,NaN
276,3,2017-03-11 18:35:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Maddie and Gunner. They are consi...,"https://www.gofundme.com/3hgsuu0,https://twitt...",12,10,Maddie,Other,3
...,...,...,...,...,...,...,...,...,...,...
1807,0,2015-12-16 00:09:23 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Super speedy pupper. Does not go gentle into t...,https://vine.co/v/imJ0BdZOJTw,10,10,None,Nonepupperpupper,0
1818,0,2015-12-15 02:43:33 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This pupper loves leaves. 11/10 for committed ...,https://vine.co/v/eEQQaPFbgOY,11,10,None,Nonepupperpupper,NaN
1819,0,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,https://www.twitter.com,7,10,None,Other,NaN
1834,7,2015-12-13 19:30:01 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Here we are witnessing a very excited dog. Cle...,https://vine.co/v/iZXg7VpeDAv,8,10,None,Other,7
1844,0,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,https://www.twitter.com,9,10,None,Other,NaN
1858,675501075957489664,2015-12-12 02:23:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I shall call him squishy and he shall be mine,...",https://twitter.com/dog_rates/status/675501075...,13,10,None,Other,675501075957489664
1865,675354435921575936,2015-12-11 16:40:19 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Everyone needs to watch this. 13/10 https://t....,https://twitter.com/dog_rates/status/675354435...,13,10,None,Other,675354435921575936
1895,0,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,https://www.twitter.com,11,10,None,Other,NaN
1905,0,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,https://www.twitter.com,13,10,None,Other,NaN
1914,0,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,https://www.twitter.com,13,10,None,Other,NaN
1916,7,2015-12-08 19:19:32 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is life-changing. 12/10 https://t.co/SroT...,https://vine.co/v/i7nWzrenw5h,12,10,life,Other,7
1917,674291837063053312,2015-12-08 18:17:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kenny. He just wants to be included in...,https://twitter.com/dog_rates/status/674291837...,11,10,Kenny,Other,674291837063053312
1940,0,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,https://www.twitter.com,1,10,None,Other,NaN
1968,673320132811366400,2015-12-06 01:56:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Frankie. He's wearing blush. 11/10 rea...,https://twitter.com/dog_rates/status/673320132...,11,10,Frankie,Other,673320132811366400
1970,673295268553605120,2015-12-06 00:17:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Eve. She's a raging alcoholic 8/10 (would...,https://twitter.com/dog_rates/status/673295268...,8,10,Eve,Nonepupperpupper,673295268553605120
2023,671896809300709376,2015-12-02 03:40:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lola. She fell asleep on a piece of pi...,https://twitter.com/dog_rates/status/671896809...,10,10,Lola,Other,671896809300709376
2038,0,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,https://www.twitter.com,1,10,None,Other,NaN
2110,670444955656130560,2015-11-28 03:31:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Paull. He just stubbed his toe. 10/10 ...,https://twitter.com/dog_rates/status/670444955...,10,10,Paull,Other,670444955656130560
2127,670319130621435904,2015-11-27 19:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",AT DAWN...\nWE RIDE\n\n11/10 https://t.co/QnfO...,https://twitter.com/dog_rates/status/670319130...,11,10,None,Other,670319130621435904
2149,0,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,https://www.twitter.com,11,10,None,Other,NaN
2180,669000397445533696,2015-11-24 03:51:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Terrance. He's being yelled at because he...,https://twitter.com/dog_rates/status/669000397...,11,10,Terrance,Other,669000397445533696
2189,0,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,https://www.twitter.com,12,10,None,Other,NaN
2212,0,2015-11-23 00:30:28 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Never forget this vine. You will not stop watc...,https://vine.co/v/ea0OwvPTx9l,13,10,the,Other,0
2248,667866724293877760,2015-11-21 00:46:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shaggy. He knows exactly how to solve ...,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,Other,667866724293877760
2269,667509364010450944,2015-11-20 01:06:48 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This a Norwegian Pewterschmidt named Tickles. ...,https://twitter.com/dog_rates/status/667509364...,12,10,None,Other,667509364010450944
2286,667182792070062081,2015-11-19 03:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Timison. He just told an awful joke bu...,https://twitter.com/dog_rates/status/667182792...,10,10,Timison,Other,667182792070062081
2293,667152164079423490,2015-11-19 01:27:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pipsy. He is a fluffball. Enjoys trave...,https://twitter.com/dog_rates/status/667152164...,12,10,Pipsy,Other,667152164079423490
2294,667138269671505920,2015-11-19 00:32:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Extremely intelligent dog here. Has learned to...,https://twitter.com/dog_rates/status/667138269...,10,10,None,Other,667138269671505920
2298,0,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,https://www.twitter.com,10,10,None,Other,NaN
2338,666104133288665088,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,1,10,None,Other,666104133288665088

In [32]:
df_2 = df_2.drop_duplicates(keep='first')

In [33]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2032 entries, 0 to 2165
Data columns (total 3 columns):
favorite_count    2032 non-null int64
retweet_count     2032 non-null float64
tweet_id          2032 non-null int64
dtypes: float64(1), int64(2)
memory usage: 63.5 KB

In [34]:
df = df_1.merge(df_2, on='tweet_id', how='inner')

In [35]:
df.tweet_id.duplicated().any()

True

In [36]:
df = df.drop_duplicates(subset=['tweet_id'],keep='first')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2026 entries, 0 to 2178
Data columns (total 12 columns):
tweet_id              2026 non-null int64
timestamp             2026 non-null object
source                2026 non-null object
text                  2026 non-null object
expanded_urls         2026 non-null object
rating_numerator      2026 non-null int64
rating_denominator    2026 non-null int64
name                  2026 non-null object
cute_name             2026 non-null object
tweet_status          2026 non-null object
favorite_count        2026 non-null int64
retweet_count         2026 non-null float64
dtypes: float64(1), int64(4), object(7)
memory usage: 205.8+ KB

In [38]:
df = df.merge(images, on='tweet_id', how='inner')

In [39]:
df = df.reset_index(drop=True)

In [40]:
df.query('rating_denominator < 10')

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,cute_name,tweet_status,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
401,810984652412424192,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,Other,810984652412424192,...,1,golden_retriever,0.871342,True,Tibetan_mastiff,0.036708,True,Labrador_retriever,0.025823,True
1959,666287406224695296,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,Other,666287406224695296,...,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True

In [41]:
#Make manual corrections

In [42]:
df.query('rating_denominator > 10').head(3)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,cute_name,tweet_status,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
336,820690176645140481,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,84,70,None,Other,820690176645140481,...,2,West_Highland_white_terrier,0.872064,True,kuvasz,0.059526,True,Samoyed,0.037400,True
602,740373189193256964,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",https://twitter.com/dog_rates/status/740373189...,9,11,None,Other,740373189193256964,...,3,golden_retriever,0.807644,True,kuvasz,0.101286,True,Labrador_retriever,0.023785,True
694,758467244762497024,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,165,150,None,Other,758467244762497024,...,1,Labrador_retriever,0.436377,True,Chihuahua,0.113956,True,American_Staffordshire_terrier,0.099689,True

In [43]:
#require a normalization of denominators

In [44]:
df_copy = df.copy()

In [45]:
norm_numerator= []
norm_denominator= []
for i, row in df_copy.iterrows():
    norm = 10 / row['rating_denominator']
    num = row['rating_numerator'] = row['rating_numerator']* norm
    norm_numerator.append(num)
    den = row['rating_denominator'] = row['rating_denominator']* norm
    norm_denominator.append(den)

In [46]:
df_copy['rating_numerator'] = norm_numerator
df_copy['rating_denominator'] = norm_denominator

In [47]:
df_copy.query('rating_denominator !=10')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, cute_name, tweet_status, favorite_count, retweet_count, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

[0 rows x 23 columns]

In [59]:
#No longer need the denominator columns, and the rating_numerator column
#can just become rating (on a standardized scale of 10)
df_copy.rename(columns={"rating_numerator": "rating"},inplace=True)

In [60]:
df_copy.head(1)

,tweet_id,timestamp,text,expanded_urls,rating,name,cute_name,favorite_count,retweet_count,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,Phineas,Other,37135,7937.0,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False

In [54]:
# Get rid of <source, rating_denominator, tweet_status,jpg_url, img_num>
df_copy.drop(columns=['source', 'rating_denominator','tweet_status','jpg_url','img_num'],inplace=True)

In [55]:
with pd.option_context('float_format', '{:.02f}'.format):  
    print(df_copy.describe())

                   tweet_id  rating_numerator  favorite_count  retweet_count  \
count               1979.00           1979.00         1979.00        1979.00
mean  735203055452710272.00             11.69         8472.39        2530.84
std    67183208799373032.00             40.82        12495.24        4536.42
min   666020888022790144.00              0.00           75.00          11.00
25%   675790002834495488.00             10.00         1814.50         561.00
50%   708109389455101952.00             11.00         3781.00        1215.00
75%   786298600494106624.00             12.00        10563.50        2873.00
max   892420643555336192.00           1776.00       160445.00       80263.00

       p1_conf  p2_conf  p3_conf
count  1979.00  1979.00  1979.00
mean      0.59     0.13     0.06
std       0.27     0.10     0.05
min       0.04     0.00     0.00
25%       0.36     0.05     0.02
50%       0.59     0.12     0.05
75%       0.85     0.19     0.09
max       1.00     0.49     0.27