In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer
import re
import requests

import twitter_credentials

In [3]:
response = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
if response.status_code == 200:
    print('Success!')
elif response.status_code == 404:
    print('Not Found.')

Success!

In [4]:
images = pd.read_csv('image_predictions.tsv', sep = '\t', encoding = 'utf-8')

In [5]:
images.duplicated().any()

False

In [6]:
df_1 = pd.read_csv('twitter_archive_enhanced.csv')

In [7]:
df_1['cute_name'] = df_1['doggo'].str.cat(df_1['pupper']
                                         .replace('None','')).str.cat(df_1['floofer']
                                                                      .replace('None','')).str.cat(df_1['pupper']
                                                                                                   .replace('None','')).str.cat(df_1['puppo']
                                                                                                                                .replace('None',''))

In [8]:
df_1['cute_name'] = df_1.cute_name.replace('Nonefloofer','floofer')
df_1['cute_name'] = df_1.cute_name.replace('Nonepupper','pupper')
df_1['cute_name'] = df_1.cute_name.replace('Nonepuppo','puppo')
df_1['cute_name'] = df_1.cute_name.replace('None','Other')

In [9]:
df_1.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,cute_name
0,8.924210e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,Other

In [10]:
df_1.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id',
                   'retweeted_status_user_id','retweeted_status_timestamp',
                   'doggo', 'floofer','pupper', 'puppo'], inplace=True)

In [11]:
df_1.tweet_id.head()

0    8.924210e+17
1    8.921770e+17
2    8.918150e+17
3    8.916900e+17
4    8.913280e+17
Name: tweet_id, dtype: float64

In [12]:
with pd.option_context('float_format', '{:.0f}'.format):  
    print(df_1.tweet_id.head())

0   892421000000000000
1   892177000000000000
2   891815000000000000
3   891690000000000000
4   891328000000000000
Name: tweet_id, dtype: float64

In [13]:
#Pull status number from a different source

In [14]:
df_1.expanded_urls.isnull().any()

True

In [15]:
df_1['expanded_urls'] = df_1.expanded_urls.fillna(value='https://www.twitter.com')

In [16]:
urls = df_1.expanded_urls

In [17]:
urls = list(urls)

In [18]:
status= []
for i in range(len(urls)): 
    t= urls[i]
    if bool(re.search(r'\d', t)) == True:
        twt = re.findall(r'\d+', t)[0]
        status.append(twt)
    else:
        status.append('NaN')

In [19]:
status[:5]

['892420643555336193',
 '892177421306343426',
 '891815181378084864',
 '891689557279858688',
 '891327558926688256']

In [20]:
len(df_1.expanded_urls) == len(status)

True

In [21]:
df_1['tweet_status'] = status

In [22]:
df_1.tweet_id[0] == df_1.tweet_status[0]

False

In [23]:
df_1['tweet_id'] = status

In [24]:
df_1.tweet_id.isnull().any()

False

In [25]:
tweet_ids = status
len(tweet_ids)

2356

In [26]:
#auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#auth.set_access_token(access_token, access_secret)

#api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
#count = 0
#fails_dict = {}
#start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
#with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#    for tweet_id in tweet_ids:
#        count += 1
#        print(str(count) + ": " + str(tweet_id))
#        try:
#            tweet = api.get_status(tweet_id, tweet_mode='extended')
#            print("Success")
#            json.dump(tweet._json, outfile)
#            outfile.write('\n')
#        except tweepy.TweepError as e:
#            print("Fail")
#            fails_dict[tweet_id] = e
            
#            pass
#end = timer()
#print(end - start)
#print(fails_dict)

In [27]:
#df_2 = pd.DataFrame(columns=['tweet_id','retweet count','favorite_count'])

#with open('tweet_json.txt') as i:
#    for line in i:
#        stat = json.loads(line)
#        tweet_id = stat['id_str']
#        retweet_count = stat['retweet_count']
#        favorite_count = stat['favorite_count']
#        df_2 = df_2.append(pd.DataFrame([[tweet_id,retweet_count,
#                                         favorite_count]], 
#                                       columns=['tweet_id',
#                                        'retweet_count', 'favorite_count']))
#df_2 = df_2.reset_index(drop=True)
#df_2.head()

In [28]:
df_2 = pd.read_csv('WeRateDogs.csv', sep='\t',encoding='utf-8')

In [29]:
#df_2.to_csv (r'C:\Users\tssan\Desktop\Udacity Projects\4wrangle\WeRateDogs.csv',
#                          index = None, header=True, sep='\t', encoding='utf-8')

In [30]:
df_1.query('tweet_id == "NaN"').count()

tweet_id              78
timestamp             78
source                78
text                  78
expanded_urls         78
rating_numerator      78
rating_denominator    78
name                  78
cute_name             78
tweet_status          78
dtype: int64

In [31]:
df_1['tweet_id'] = df_1.tweet_id.replace('NaN', 0)

In [32]:
df_1 = df_1.astype({'tweet_id':'int64'})

In [33]:
df_2.drop(columns='retweet count', inplace= True)

In [34]:
df_2.duplicated().any()

True

In [35]:
df_1.tweet_id.duplicated().any()

True

In [36]:
df_1[df_1.tweet_id.duplicated()].count()

tweet_id              302
timestamp             302
source                302
text                  302
expanded_urls         302
rating_numerator      302
rating_denominator    302
name                  302
cute_name             302
tweet_status          302
dtype: int64

In [37]:
df_1 = df_1.drop_duplicates(keep='first')

In [38]:
df_2 = df_2.drop_duplicates(keep='first')

In [39]:
len(df_1), len(df_2)

(2356, 2032)

In [40]:
df_1.query('tweet_id == 0').count()

tweet_id              86
timestamp             86
source                86
text                  86
expanded_urls         86
rating_numerator      86
rating_denominator    86
name                  86
cute_name             86
tweet_status          86
dtype: int64

In [41]:
df = df_1.merge(df_2, on='tweet_id', how='inner')

In [42]:
len(df)

2179

In [43]:
df.query('tweet_id == 0').count()

tweet_id              0
timestamp             0
source                0
text                  0
expanded_urls         0
rating_numerator      0
rating_denominator    0
name                  0
cute_name             0
tweet_status          0
favorite_count        0
retweet_count         0
dtype: int64

In [44]:
df.tweet_id.duplicated().any()

True

In [45]:
df = df.drop_duplicates(subset=['tweet_id'],keep='first')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2026 entries, 0 to 2178
Data columns (total 12 columns):
tweet_id              2026 non-null int64
timestamp             2026 non-null object
source                2026 non-null object
text                  2026 non-null object
expanded_urls         2026 non-null object
rating_numerator      2026 non-null int64
rating_denominator    2026 non-null int64
name                  2026 non-null object
cute_name             2026 non-null object
tweet_status          2026 non-null object
favorite_count        2026 non-null int64
retweet_count         2026 non-null float64
dtypes: float64(1), int64(4), object(7)
memory usage: 205.8+ KB

In [47]:
df = df.merge(images, on='tweet_id', how='inner')

In [48]:
df = df.reset_index(drop=True)

In [49]:
df.query('rating_denominator < 10')

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,cute_name,tweet_status,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
401,810984652412424192,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,Other,810984652412424192,...,1,golden_retriever,0.871342,True,Tibetan_mastiff,0.036708,True,Labrador_retriever,0.025823,True
1959,666287406224695296,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,Other,666287406224695296,...,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True

In [50]:
#Make manual corrections

In [51]:
df.query('rating_denominator > 10').head(3)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,cute_name,tweet_status,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
336,820690176645140481,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,https://twitter.com/dog_rates/status/820690176...,84,70,None,Other,820690176645140481,...,2,West_Highland_white_terrier,0.872064,True,kuvasz,0.059526,True,Samoyed,0.037400,True
602,740373189193256964,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",https://twitter.com/dog_rates/status/740373189...,9,11,None,Other,740373189193256964,...,3,golden_retriever,0.807644,True,kuvasz,0.101286,True,Labrador_retriever,0.023785,True
694,758467244762497024,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,https://twitter.com/dog_rates/status/758467244...,165,150,None,Other,758467244762497024,...,1,Labrador_retriever,0.436377,True,Chihuahua,0.113956,True,American_Staffordshire_terrier,0.099689,True

In [52]:
#require a normalization of denominators

In [53]:
df_copy = df.copy()

In [54]:
norm_numerator= []
norm_denominator= []
for i, row in df_copy.iterrows():
    norm = 10 / row['rating_denominator']
    num = row['rating_numerator'] = row['rating_numerator']* norm
    norm_numerator.append(num)
    den = row['rating_denominator'] = row['rating_denominator']* norm
    norm_denominator.append(den)

In [55]:
df_copy['rating_numerator'] = norm_numerator
df_copy['rating_denominator'] = norm_denominator

In [56]:
df_copy.query('rating_denominator !=10')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, cute_name, tweet_status, favorite_count, retweet_count, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

[0 rows x 23 columns]

In [57]:
#No longer need the denominator columns, and the rating_numerator column
#can just become rating (on a standardized scale of 10)
df_copy.rename(columns={"rating_numerator": "rating"},inplace=True)

In [58]:
df_copy.head(1)

,tweet_id,timestamp,source,text,expanded_urls,rating,rating_denominator,name,cute_name,tweet_status,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10.0,Phineas,Other,892420643555336193,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False

In [59]:
# Get rid of <source, rating_denominator, tweet_status,jpg_url, img_num>
df_copy.drop(columns=['source', 'rating_denominator','tweet_status','jpg_url','img_num'],inplace=True)

In [60]:
with pd.option_context('float_format', '{:.02f}'.format):  
    print(df_copy.describe())

                   tweet_id  rating  favorite_count  retweet_count  p1_conf  \
count               1979.00 1979.00         1979.00        1979.00  1979.00
mean  735203055452710272.00   11.69         8472.39        2530.84     0.59
std    67183208799373032.00   40.82        12495.24        4536.42     0.27
min   666020888022790144.00    0.00           75.00          11.00     0.04
25%   675790002834495488.00   10.00         1814.50         561.00     0.36
50%   708109389455101952.00   11.00         3781.00        1215.00     0.59
75%   786298600494106624.00   12.00        10563.50        2873.00     0.85
max   892420643555336192.00 1776.00       160445.00       80263.00     1.00

       p2_conf  p3_conf
count  1979.00  1979.00
mean      0.13     0.06
std       0.10     0.05
min       0.00     0.00
25%       0.05     0.02
50%       0.12     0.05
75%       0.19     0.09
max       0.49     0.27